<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->

<!--<h2>Search Order by Id</h2><br>-->
<!--  <link rel="stylesheet" href="/templates/css/style.css">-->
<!--<form action="http://localhost:8000/api/" method="get">-->
<!--    <div>-->
<!--        <label>Please input order id</label>-->
<!--        <input name="id" id="id" value="Hi">-->
<!--    </div>-->
<!--    <div>-->
<!--        <button>Get order data</button>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!--<form action="http://localhost:8000/api/" method="get">-->
<!--    <div>-->
<!--        <label for="id">Please input order id</label>-->
<!--        <input name="id" id="id" value="Hi">-->
<!--    </div>-->
<!--    <div>-->
<!--        <button>Get order data</button>-->
<!--    </div>-->
<!--</form>-->


<!DOCTYPE templates>
<templates lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS effect for search input </title>
  <link rel="stylesheet" href="/templates/css/style.css">

</head>
<body>
<!-- partial:index.partial.templates -->
<div class="search__container">
    <p class="search__title">
       Search Order by Id
    </p>
    <form action="http://localhost:8000/api/" method="get">
<!--        <div>-->
<!--            <label>Please input order id</label>-->
<!--            <input name="id" id="id" value="Hi">-->
<!--        </div>-->
<!--        <div>-->
<!--            <button>Get order data</button>-->
<!--        </div>-->
        <input class="search__input" type="text" placeholder="Order Id">

</div>

<div class="credits__container">
    <p class="credits__text"><button>Get order data</button> </p>
</div>
</form>
<!-- partial -->

</body>
</templates>
