<!DOCTYPE templates>
<templates lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Get order by id</title>
  <link rel="stylesheet" href="/templates/css/style.css">

</head>
<body>
<div class="search__container">
    <p class="search__title">
       Search Order by Id
    </p>
    <form action="/api" method="get">
        <input name="id" id="id" value="" class="search__input" type="text" placeholder="Order Id">

</div>

<div class="credits__container">
    <p class="credits__text"><button>Get order data</button> </p>
</div>
</form>

</body>
</templates>
